#wowbar_container_centered
{
    background-color: #fcd800;
    text-align: center;
    width: 100%;
    border-radius: 6px 6px 0 0;
}

#wowbar_container
{
    display: inline-block;
}

.wowbar_stat
{
    margin-left: 30px;
    margin-right: 30px;
    float: left;
    font-size: 14px;
    color: #333333;
}

.wowbar_stat.first
{
    margin-left: 0;
}

.wowbar_stat.last
{
    overflow: hidden;
    margin-right: 0;
}

.wowbar_stat span.number
{
    font-weight: bold;
    font-size: 18px;
}

